<div>
    <mat-toolbar color="primary">
        <span>SquareShift</span>
        <div class="menuDiv">
            <a mat-button [routerLink]="">Product</a>
            <a mat-button [routerLink]="">Author</a>
        </div>
        <span class="example-spacer"></span>
        <button mat-icon-button>
            <mat-icon>shopping_cart</mat-icon>
        </button>
    </mat-toolbar>
    <div class="productDetailWrap">
        <mat-card class="productCard">
            <div class="productImgHead">
                <img class="productImg" mat-card-image src="https://fakestoreapi.com/img/61U7T1koQqL._AC_SX679_.jpg" alt="Photo of a Shiba Inu">                
                <div class="rightContent">
                    <mat-card-header>
                        <mat-card-title>SanDisk SSD PLUS 1TB Internal SSD - SATA III 6 Gb/s</mat-card-title>
                        <mat-card-subtitle>women's clothing</mat-card-subtitle>
                        <span class="example-spacer"></span>
                        <button color="warn" mat-fab class="offer">
                            <span>1%</span><br/>
                            <span>Off</span>
                        </button>
                    </mat-card-header>
                    <div class="cartPriceDetails">
                        <p class="desc">Easy upgrade for faster boot up, shutdown, application load and response (As compared to 5400 RPM SATA 2.5” hard drive; Based on published specifications and internal benchmarking tests using PCMark vantage scores) Boosts burst write performance, making it ideal for typical PC workloads The perfect balance of performance and reliability Read/write speeds of up to 535MB/s/450MB/s (Based on internal testing; Performance may vary depending upon drive capacity, host device, OS and application.)</p>
                        <p>
                            <button mat-raised-button>Add to cart</button>
                        </p>
                        <p class="price">$190</p>
                        <p class="oldPrice">$290</p>
                        <p class="starRate">User Rating 
                            <mat-icon>star</mat-icon>
                            <mat-icon>star_outline</mat-icon>
                        </p>
                        <p>4.1 average based on 254 reviews.</p>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>