<div>
    <mat-toolbar color="primary">
        <span>SquareShift</span>
        <div class="menuDiv">
            <a mat-button [routerLink]="['/product']">Product</a>
            <a mat-button [routerLink]="">Author</a>
        </div>
        <span *ngIf="addStatus" class="success-msg">Product added to cart</span>
        <span class="example-spacer"></span>
        <button mat-icon-button (click)="moveToCart()">
            <mat-icon matBadge="{{cartCount}}" matBadgeOverlap="false">shopping_cart</mat-icon>
        </button>
    </mat-toolbar>
    <div class="productDetailWrap">
        <mat-card *ngIf="productStatus" class="productCard">
            <div class="productImgHead">
                <img class="productImg" mat-card-image src="{{productItem.response.image}}" alt="Photo of a Shiba Inu">                
                <div class="rightContent">
                    <mat-card-header>
                        <mat-card-title>{{productItem.response.title}}</mat-card-title>
                        <mat-card-subtitle>{{productItem.response.category}}</mat-card-subtitle>
                        <span class="example-spacer"></span>
                        <button color="warn" mat-fab class="offer">
                            <span>{{productItem.response.discount_percentage}}%</span><br/>
                            <span>Off</span>
                        </button>
                    </mat-card-header>
                    <div class="cartPriceDetails">
                        <p class="desc">{{productItem.response.description}}</p>
                        <p>
                            <button mat-raised-button (click)="addToCart(productItem)">Add to cart</button>
                        </p>
                        <p class="price">${{discountPrice}}</p>
                        <p class="oldPrice">${{productItem.response.price}}</p>
                        <p class="starRate">User Rating 
                            <span *ngFor="let blactStar of rateBlackStar">
                                <mat-icon>star</mat-icon>
                            </span>
                            <span *ngFor="let whiteStar of rateWhiteStar">
                                <mat-icon>star_outline</mat-icon>
                            </span>
                        </p>
                        <p>{{productItem.response.rating.rate}} average based on {{productItem.response.rating.count}} reviews.</p>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>