<div>
    <mat-toolbar>
        <span>Square Shift Cart</span>
    </mat-toolbar>
    <div class="loginWrap">
        <mat-card class="loginCard">
            <mat-card-header>
                <mat-card-title>Login</mat-card-title>
                <mat-card-subtitle>test</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <form novalidate>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Username</mat-label>
                            <input type="text" matInput placeholder="username"/>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input type="password" matInput placeholder="password"/>
                        </mat-form-field>
                    </p>
                    <p>
                        <button type="submit" color="primary" mat-raised-button>Login</button>
                    </p>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>