.loginWrap {
    position: absolute;
    margin: auto;
    width: 50%;
    height: 55vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .loginCard {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}