<div>
    <mat-toolbar color="primary">
        <span>SquareShift</span>
        <div class="menuDiv">
            <a mat-button [routerLink]="['/product']">Product</a>
            <a mat-button [routerLink]="">Author</a>
        </div>
        <span class="example-spacer"></span>
        <button mat-raised-button color="warn" (click)="deleteAllCart()">Delete Cart</button>
        <button mat-icon-button>
            <mat-icon matBadge="{{showCartCount}}" matBadgeOverlap="false">shopping_cart</mat-icon>
        </button>
    </mat-toolbar>
    <div class="cartWrap">
        <mat-card *ngFor="let cart of cartAllItem" class="cartItem">
            <mat-card-header>
                <mat-card-title>{{cart.item.title}}</mat-card-title>
                <mat-card-subtitle>{{cart.item.category}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="marginTop">
                <p>${{cart.item.price}}</p>
            </mat-card-content>
            <!--<mat-card-footer>
                <button mat-icon-button>
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-footer>-->
        </mat-card>
    </div>
    <div class="checkout">
        <p class="postalcode">
            <mat-form-field appearance="outline">
                <mat-label>Postalcode</mat-label>
                <input matInput placeholder="postalcode" #postalcode/>
            </mat-form-field>
            <button mat-raised-button (click)="checkout()">Check Availability</button>
            <br/>
            <span *ngIf="postalStatus" class="error-msg">postalCode is required</span>
        </p>
        <span *ngIf="checkoutStatus">
            <p>All Item Price: {{checkoutValue.price}}</p>
            <p>Discount Price: {{checkoutValue.discountedPriceString}}</p>
            <p>Shipping Cost: {{checkoutValue.shippingCost}}</p>
            <p>Total Price: {{checkoutValue.totalPriceString}}</p>
        </span>
        <p class="placeOrder">
            <button mat-raised-button color="primary" disabled>Make Payment</button>
        </p>
    </div>
</div>