<div>
    <mat-toolbar color="primary">
        <span>SquareShift</span>
        <div class="menuDiv">
            <a mat-button [routerLink]="">Product</a>
            <a mat-button [routerLink]="">Author</a>
        </div>
        <span class="example-spacer"></span>
        <button mat-icon-button>
            <mat-icon matBadge="{{showCartCount}}" matBadgeOverlap="false">shopping_cart</mat-icon>
        </button>
    </mat-toolbar>
    <div class="productWrap">
        <mat-card *ngFor="let product of productList" class="productCard" (click)="productDetail(product)">
            <img class="prodImg" mat-card-image src="{{product.response.image}}">
            <mat-card-header>
                <mat-card-title>{{product.response.title}}</mat-card-title>
                <mat-card-subtitle>{{product.response.discount_percentage}}</mat-card-subtitle>
                <span class="example-spacer"></span>
                <button color="warn" mat-fab class="offer">
                    <span>{{product.response.discount_percentage}}%</span><br/>
                    <span>Off</span>
                </button>
            </mat-card-header>
        </mat-card>
    </div>
</div>