<div>
    <mat-toolbar color="primary">
        <span>SquareShift</span>
        <div class="menuDiv">
            <a mat-button [routerLink]="">Product</a>
            <a mat-button [routerLink]="">Author</a>
        </div>
        <span class="example-spacer"></span>
        <button mat-icon-button>
            <mat-icon>shopping_cart</mat-icon>
        </button>
    </mat-toolbar>
    <div class="productWrap">
        <mat-card class="productCard">
            <img mat-card-image src="https://fakestoreapi.com/img/61U7T1koQqL._AC_SX679_.jpg" alt="Photo of a Shiba Inu">
            <mat-card-header>
                <mat-card-title>SanDisk SSD PLUS 1TB Internal SSD - SATA III 6 Gb/s</mat-card-title>
                <mat-card-subtitle>7.7% off</mat-card-subtitle>
                <span class="example-spacer"></span>
                <button color="warn" mat-fab class="offer">
                    <span>1%</span><br/>
                    <span>Off</span>
                </button>
            </mat-card-header>
        </mat-card>
        <mat-card class="productCard">
            <img mat-card-image src="https://fakestoreapi.com/img/61U7T1koQqL._AC_SX679_.jpg" alt="Photo of a Shiba Inu">
            <mat-card-header>
                <mat-card-title>SanDisk SSD PLUS 1TB Internal SSD - SATA III 6 Gb/s</mat-card-title>
                <mat-card-subtitle>7.7% off</mat-card-subtitle>
                <span class="example-spacer"></span>
                <button color="warn" mat-fab class="offer">
                    <span>1%</span><br/>
                    <span>Off</span>
                </button>
            </mat-card-header>
        </mat-card>
        <mat-card class="productCard">
            <img mat-card-image src="https://fakestoreapi.com/img/61U7T1koQqL._AC_SX679_.jpg" alt="Photo of a Shiba Inu">
            <mat-card-header>
                <mat-card-title>SanDisk SSD PLUS 1TB Internal SSD - SATA III 6 Gb/s</mat-card-title>
                <mat-card-subtitle>7.7% off</mat-card-subtitle>
                <span class="example-spacer"></span>
                <button color="warn" mat-fab class="offer">
                    <span>1%</span><br/>
                    <span>Off</span>
                </button>
            </mat-card-header>
        </mat-card>
        <mat-card class="productCard">
            <img mat-card-image src="https://fakestoreapi.com/img/61U7T1koQqL._AC_SX679_.jpg" alt="Photo of a Shiba Inu">
            <mat-card-header>
                <mat-card-title>SanDisk SSD PLUS 1TB Internal SSD - SATA III 6 Gb/s</mat-card-title>
                <mat-card-subtitle>7.7% off</mat-card-subtitle>
                <span class="example-spacer"></span>
                <button color="warn" mat-fab class="offer">
                    <span>1%</span><br/>
                    <span>Off</span>
                </button>
            </mat-card-header>
        </mat-card>
        <mat-card class="productCard">
            <img mat-card-image src="https://fakestoreapi.com/img/61U7T1koQqL._AC_SX679_.jpg" alt="Photo of a Shiba Inu">
            <mat-card-header>
                <mat-card-title>SanDisk SSD PLUS 1TB Internal SSD - SATA III 6 Gb/s</mat-card-title>
                <mat-card-subtitle>7.7% off</mat-card-subtitle>
                <span class="example-spacer"></span>
                <button color="warn" mat-fab class="offer">
                    <span>1%</span><br/>
                    <span>Off</span>
                </button>
            </mat-card-header>
        </mat-card>
        <mat-card class="productCard">
            <img mat-card-image src="https://fakestoreapi.com/img/61U7T1koQqL._AC_SX679_.jpg" alt="Photo of a Shiba Inu">
            <mat-card-header>
                <mat-card-title>SanDisk SSD PLUS 1TB Internal SSD - SATA III 6 Gb/s</mat-card-title>
                <mat-card-subtitle>7.7% off</mat-card-subtitle>
                <span class="example-spacer"></span>
                <button color="warn" mat-fab class="offer">
                    <span>1%</span><br/>
                    <span>Off</span>
                </button>
            </mat-card-header>
        </mat-card>
        <mat-card class="productCard">
            <img mat-card-image src="https://fakestoreapi.com/img/61U7T1koQqL._AC_SX679_.jpg" alt="Photo of a Shiba Inu">
            <mat-card-header>
                <mat-card-title>SanDisk SSD PLUS 1TB Internal SSD - SATA III 6 Gb/s</mat-card-title>
                <mat-card-subtitle>7.7% off</mat-card-subtitle>
                <span class="example-spacer"></span>
                <button color="warn" mat-fab class="offer">
                    <span>1%</span><br/>
                    <span>Off</span>
                </button>
            </mat-card-header>
        </mat-card>
        <mat-card class="productCard">
            <img mat-card-image src="https://fakestoreapi.com/img/61U7T1koQqL._AC_SX679_.jpg" alt="Photo of a Shiba Inu">
            <mat-card-header>
                <mat-card-title>SanDisk SSD PLUS 1TB Internal SSD - SATA III 6 Gb/s</mat-card-title>
                <mat-card-subtitle>7.7% off</mat-card-subtitle>
                <span class="example-spacer"></span>
                <button color="warn" mat-fab class="offer">
                    <span>1%</span><br/>
                    <span>Off</span>
                </button>
            </mat-card-header>
        </mat-card>
        <mat-card class="productCard">
            <img mat-card-image src="https://fakestoreapi.com/img/61U7T1koQqL._AC_SX679_.jpg" alt="Photo of a Shiba Inu">
            <mat-card-header>
                <mat-card-title>SanDisk SSD PLUS 1TB Internal SSD - SATA III 6 Gb/s</mat-card-title>
                <mat-card-subtitle>7.7% off</mat-card-subtitle>
                <span class="example-spacer"></span>
                <button color="warn" mat-fab class="offer">
                    <span>1%</span><br/>
                    <span>Off</span>
                </button>
            </mat-card-header>
        </mat-card>
    </div>
</div>